.content {
    margin-left: 200px;
    padding: 1px 16px;
}

@media screen and (max-width: 700px) {
    .content {
        margin-left: 0;
    }
}


.container {
    display: flex;
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: .8em;
    align-items: center;
}

.label-avatar {
    width: 280px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.label-avatar input {
    display: none;
}

.label-avatar span {
    z-index: 99;
    position: absolute;
    opacity: 0.7;
    transition: all 0.5s;
}

.label-avatar span:hover {
    transform: scale(1.5);
    opacity: 1;
}

.form-profile img {
    margin-bottom: 1em;
    border-radius: 50%;
    object-fit: cover;
    height: 200px;
    width: 200px;
}

.form-profile label {
    font-size: 18px;
}

.form-profile input, textarea, select {
    margin-bottom: 1em;
    padding: .7em;
    border: 0;
    border-radius: 5px;
    max-width: 600px;
}

.form-profile input:disabled {
    cursor: not-allowed;
}

.form-profile button {
    max-width: 600px;
}

.logout-btn {
    padding: 8px 20px;
    background-color:  transparent;
    border: 1px solid #121212;
    border-radius: 5px;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}